!!!
html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    title Proxer
    link(rel="stylesheet", href="/__admin/bootstrap.min.css", type="text/css", media="screen", charset="utf-8")
  body
    div.topbar
      div.fill
        div.container
          a.brand(href="#") Proxer

    div.container!= body

    script(type="text/javascript", src="/__admin/jquery.js")
    script(type="text/javascript", src="/__admin/underscore.js")
    script(type="text/javascript", src="/__admin/json2.js")
    script(type="text/javascript", src="/__admin/backbone.js")
    script(type="text/javascript", src="/__admin/coffee-script.js")
    script(type="text/coffeescript", src="/__admin/service.coffee")

